# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
ipch/

# Build output
bin/
obj/
x64/
Win32/
Build/
Release/
Debug/

# Logs / temp
*.log
*.tmp

# DLLs and build artifacts (keep source clean)
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.res